body {
    height: 300px;
    width: 800px;
}

.form-row {
    display: flex;
}

.container {
    max-width: 100%;
}

.form-select,
.form-control {
    padding: 3px 6px !important;
    border-radius: 3px;
}

.name-list {
    padding-left: 3px;
}

button {
    margin-top: 5px;
    border-color: slategrey !important;
}

#alert {
    display: none;
    margin-bottom: 5px !important;
}

#storageKeys {
    width: 50%;
}
